{% comment %}
  Filter Drawer Snippet

  This snippet is used for both collections and search sections.

  Accepts:
    - type: collection or search
    - has_filter: true or false
    - has_sortby: true or false
    - filter_count: number of filters
    - slideout_id: ID of the slideout

  Usage:
    {% render 'snip-filter-drawer',
      type: 'collection',
      has_filter: true,
      has_sortby: true,
      filter_count: 3,
      slideout_id: 'slideout-collection-filters'
    %}
{% endcomment %}
{%- liquid
  if type == search
    assign class_prefix = 'search'
  else
    assign class_prefix = 'collection'
  endif

  assign color_swatch_options = settings.swatch_option_names | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | downcase
-%}

<div
  class="filter-drawer__wrapper grid__wrapper edge rg0 cg0 sm-rg0 sm-cg0 {% if is_sidebar %}sidebar__wrapper{% endif %}"
>
  {%- unless is_sidebar -%}
  <div class="filter-drawer__mobile-close span-12 auto a-right">
    <div class="slideout__trigger--close">
      <button
        class="slideout__trigger-{{ class_prefix }}-filters js-slideout-close btn-as-link"
        data-slideout-direction="left"
        aria-label="Close navigation"
        tabindex="0"
        type="button"
        name="button"
        popovertarget="{{ slideout_id }}"
        popovertargetaction="hide"
      >
        {% render 'snip-icons',
          wrapper: '.filter-drawer__mobile-close',
          type: 'theme',
          icon: 'close',
          size: '18px',
          classes: 'vib-center',
          fill: 'var(--text-color)',
          hover: 'var(--hover-color)'
        %}
      </button>
    </div>
  </div>
  {%- endunless -%}

  {%- unless has_filter == false -%}
    <div
      class="filter-drawer__menu-block {% unless collection.all_products_count >= 1000 %}active--menu{% endunless %} js-mobile-menu span-12 auto"
      data-menu-handle="filter"
      {% if collection.all_products_count >= 1000 %}
        style="display: none;"
      {% endif %}
    >
      <div class="filter-drawer__header sm-caps grid__wrapper edge">
        <p class="span-9 auto a-left">{{ 'collections.filter.filter' | t }}</p>
        {%- if filter_count > 0 -%}
          {%- liquid
            if type == collection
              assign clear_url = collection.url
            else
              assign clear_url = routes.search_url
            endif
          -%}
          <p class="span-3 auto a-right">
            <a class="current_filters--clear js-current-filter ml4" href="{{ clear_url }}">
              {{- 'collections.filter.clear_all' | t -}}
            </a>
          </p>
        {%- endif -%}
      </div>
      {%- for filter in type.filters -%}
        {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
        {% case filter.type %}
          {% when 'list' %}
            {%- liquid
              # Set default to false since we are in a loop.
              assign is_size_filter = false
              assign is_color_filter = false
              assign filter_label_to_lowercase = filter.label | downcase

              # Figure out color filters.
              if color_swatch_options contains filter_label_to_lowercase
                assign is_color_filter = true
              endif

              # Don't worry about size option filters for now as they do not do anything.
              assign size_option_names = 'size,talla,taglia,taille,tamanho,grosse' | split: ','
              if size_option_names contains filter.label
                assign is_size_filter = true
              endif

              # Determine filter type.
              if is_color_filter
                assign filter_type = 'color'
              elsif is_size_filter
                assign filter_type = 'size'
              else
                assign filter_type = 'regular'
              endif
            -%}
            <div class="sidebar__filter-block sidebar-filter filter--{{ filter_type }}">
              <p class="sm-caps">
                {{ filter.label | escape }}
                {% if filter.operator == 'AND' -%}
                  <small>{{ 'collections.filter.match_all' | t }}</small>
                {%- endif %}
              </p>
              <ul>
                {% liquid
                  if filter.operator == 'AND'
                    assign active_values = filter.values | where: 'active', true
                    assign inactive_values = filter.values | where: 'active', false
                    assign sorted_values = active_values | concat: inactive_values
                  else
                    assign sorted_values = filter.values
                  endif
                %}
                {% for value in sorted_values %}
                  {%- liquid
                    if is_color_filter
                      assign swatch_color_name = value.label | handleize | downcase | append: '.png'
                      assign swatch_image_url = swatch_color_name | file_url
                      assign css_color = value.label | split: ' ' | last | downcase

                      if images[swatch_color_name] != blank
                        assign bg_img = 'background-image:url(' | append: swatch_image_url | append: ');'
                      else
                        assign bg_img = ''
                      endif
                      assign bg_color = 'background-color:' | append: css_color | append: ';'
                    endif

                    if value.active
                      assign status = 'current'
                      assign url = value.url_to_remove
                    elsif value.count == 0 and value.active == false
                      assign status = 'disabled'
                      assign url = ''
                    else
                      assign status = ''
                      assign url = value.url_to_add
                    endif
                  -%}
                  <li class="filter-item {{ status }} js-filter">
                    {% if is_color_filter %}
                      <a
                        class="js-collection-side-filter {{ status }} swatches__shape--{{ settings.color_swatch_shape }}"
                        href="{{ url }}"
                        title="{{ value.label }}"
                      >
                        <input
                          type="checkbox"
                          name="{{ value.param_name }}"
                          value="{{ value.value }}"
                          id="{{ value.label | downcase | handle }}"
                          {% if value.active %}
                            checked
                          {% endif %}
                          {% if value.count == 0 and value.active == false %}
                            disabled
                          {% endif %}
                        >
                        {%- capture classes -%}
                             color-filter color-filter--{{ status }} {{ status }} color-filter--{{- filter.presentation }}
                           {%- endcapture -%}
                        {% case filter.presentation %}
                            {% assign classes = classes | append: ' color-filter--rounded' %}
                          {% when 'swatch' %}
                            {% if value.swatch.image %}
                              {{
                                value.swatch.image
                                | image_url: width: 300
                                | image_tag: alt: value.swatch.image.alt, class: classes
                              }}
                            {% elsif value.swatch.color %}
                              {% assign swatch_background = 'rgb(' | append: value.swatch.color.rgb | append: ')' %}
                              <div class="{{- classes -}}" style="background: {{ swatch_background }};"></div>
                            {% endif %}
                          {% when 'image' %}
                            {% if value.image %}
                              {{
                                value.image
                                | image_url: width: 300
                                | image_tag: alt: value.image.alt, class: classes, style: swatch_size_class
                              }}
                            {% endif %}
                          {% else %}
                            <span
                              class="color-filter color-filter--rounded color-filter--{{ status }} {{ status }} color-filter--default"
                              style="{{ bg_color }}{{ bg_img }}"
                            ></span>
                        {% endcase %}
                        <label for="{{ value.label | downcase | handle }}" class="color-filter--label vib-center">
                          {{- value.label | escape }}
                          <span class="filter__count">({{ value.count }})</span></label
                        >
                      </a>
                    {% else %}
                      <a class="js-collection-side-filter {{ status }}" data-tag="{{ url }}" href="{{ url }}">
                        <input
                          type="checkbox"
                          name="{{ value.param_name }}"
                          value="{{ value.value }}"
                          id="{{ value.label | downcase | handle }}"
                          {% if value.active %}
                            checked
                          {% endif %}
                          {% if value.count == 0 and value.active == false %}
                            disabled
                          {% endif %}
                        >
                        <label class="regular-filter--label" for="{{ value.label | downcase | handle }}">
                          {%- assign icon = value.label | handleize | strip -%}
                          {% render 'snip-icons-jewelry',
                            wrapper: '.product-form__text-icon',
                            type: 'theme',
                            icon: icon,
                            size: '24px',
                            classes: 'vib-center mr1',
                            fill: text_color,
                            hover: text_color
                          %}

                          <span class="vib-center">{{ value.label | escape }}</span>
                          <span class="filter__count vib-center">({{ value.count }})</span>
                        </label>
                      </a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% when 'price_range' %}
            {%- liquid
              assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
              assign uses_comma_decimals = false

              if currencies_using_comma_decimals contains cart.currency.iso_code
                assign uses_comma_decimals = true
              endif
            -%}

            <div class="sidebar__filter-block sidebar-filter filter--price-range" data-filters-price-range>
              <p class="sm-caps">{{ filter.label | escape }}</p>
              <div class="filter-range__boxes js-price-range">
                <div class="filter-range__field inline-block w50">
                  <label class="filter-range__field__label visually-hidden" for="Filter-{{ filter.label | escape }}">
                    {{- 'collections.filter.from' | t -}}
                  </label>
                  <span class="filter-range__field__currency">{{ cart.currency.symbol }}</span>
                  <input
                    class="filter-range__field__input js-filter-range-input js-price-min-output"
                    aria-label="Filter by price from low"
                    name="{{ filter.min_value.param_name }}"
                    id="Filter-{{ filter.label | escape }}"
                    placeholder="0"
                    {%- if filter.min_value.value -%}
                      {%- if uses_comma_decimals -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                      {%- else -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: ',', '' | round }}"
                      {%- endif -%}
                    {%- endif -%}
                    type="number"
                    min="0"
                    {%- if uses_comma_decimals -%}
                      max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                    {%- else -%}
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' | round }}"
                    {%- endif -%}
                  >
                </div>
                <div class="filter-range__field inline-block w50">
                  <label
                    class="filter-range__field__label visually-hidden"
                    for="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                  >
                    {{- 'collections.filter.to' | t -}}
                  </label>
                  <span class="filter-range__field__currency">{{ cart.currency.symbol }}</span>
                  <input
                    class="filter-range__field__input js-filter-range-input js-price-max-output"
                    aria-label="Filter by price to high"
                    name="{{ filter.max_value.param_name }}"
                    id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                    {%- if filter.max_value.value -%}
                      {%- if uses_comma_decimals -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                      {%- else -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: ',', '' | round }}"
                      {% endif %}
                    {%- endif -%}
                    type="number"
                    min="0"
                    {%- if uses_comma_decimals -%}
                      placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                      max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                    {%- else -%}
                      placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' | round }}"
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' | round }}"
                    {%- endif -%}
                  >
                </div>

                <div class="filter-range__slider--wrapper w100">
                  <input
                    class="filter-range__slider--input"
                    aria-label="Price min"
                    tabindex="-1"
                    {%- if filter.min_value.value -%}
                      {%- if uses_comma_decimals -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                      {%- else -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: ',', '' | round }}"
                      {% endif %}
                    {%- else -%}
                      value="0"
                    {%- endif -%}
                    min="0"
                    {%- if uses_comma_decimals -%}
                      max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                    {%- else -%}
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' | round }}"
                    {%- endif -%}
                    step="1"
                    type="range"
                  >
                  <input
                    class="filter-range__slider--input"
                    aria-label="Price max"
                    tabindex="-1"
                    {%- if filter.max_value.value -%}
                      {%- if uses_comma_decimals -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                      {%- else -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: ',', '' | round }}"
                      {%- endif -%}
                    {%- else -%}
                      {%- if uses_comma_decimals -%}
                        value="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                      {%- else -%}
                        value="{{ filter.range_max | money_without_currency | replace: ',', '' | round }}"
                      {%- endif -%}
                    {%- endif -%}
                    min="0"
                    {%- if uses_comma_decimals -%}
                      max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                    {%- else -%}
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' | round }}"
                    {%- endif -%}
                    step="1"
                    type="range"
                  >
                </div>
              </div>
            </div>
        {% endcase %}
      {%- endfor -%}
    </div>
  {%- endunless -%}
  {%- unless has_sortby == false -%}
    <div
      class="filter-drawer__menu-block js-mobile-menu {% if collection.all_products_count >= 1000 or has_filter == false %}active--menu{% endif %} span-12 auto"
      data-menu-handle="sort"
    >
      <div class="filter-drawer__header sm-caps grid__wrapper edge">
        <p class="span-12 auto a-left">{{ 'collections.filter.sort_title' | t }}</p>
      </div>
      <ul class="slide-nav__first-level--wrapper" data-link-parent="main">
        {% for option in type.sort_options %}
          {%- liquid
            if option.value == collection.sort_by
              assign status = 'current'
            else
              assign status = 'available'
            endif
          -%}

          <li class="slide-nav__first-level--item js-filter {{ status }}">
            <input
              type="checkbox"
              name="sort_by"
              value="{{ option.value | escape }}"
              id="{{ option.name | downcase | handle }}"
            >
            <a class="slide-nav__first-level--link mb0 vib-center" href="?sort_by={{ option.name | escape }}">
              <label for="{{ option.name | downcase | handle }}" class="filter__text--label">{{ option.name }}</label>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {%- endunless -%}

  {%- if filter_count > 0 -%}
    <div class="filter-drawer__filtering__results span-12 auto js-filters-reset">
      <p class="sm-caps mb1">{{ 'collections.filter.filtering_by_label' | t }}</p>
      <ul class="current_filters mb0">
        {%- for filter in type.filters -%}
          {%- for value in filter.active_values -%}
            <li class="current_filters--filter">
              <a class="js-current-filter" href="{{ value.url_to_remove }}">
                {{ value.label | escape }}
              </a>
            </li>
          {%- endfor -%}
          {% if filter.type == 'price_range' %}
            {%- if filter.min_value.value != null or filter.max_value.value != null -%}
              <li class="current_filters--filter">
                <a class="js-current-filter" href="{{ filter.url_to_remove }}">
                  {%- if filter.min_value.value -%}
                    {{ filter.min_value.value | money }}
                  {%- else -%}
                    {{ 0 | money }}
                  {%- endif -%}
                  -
                  {%- if filter.max_value.value -%}
                    {{ filter.max_value.value | money }}
                  {%- else -%}
                    {{ filter.range_max | money }}
                  {%- endif -%}
                </a>
              </li>
            {%- endif -%}
          {% endif %}
        {%- endfor -%}
        {%- liquid
          if type == collection
            assign clear_url = collection.url
          else
            assign clear_url = routes.search_url
          endif
        -%}
        <li>
          <a class="current_filters--clear js-current-filter ml4" href="{{ clear_url }}">
            {{- 'collections.filter.clear_all' | t -}}
          </a>
        </li>
      </ul>
    </div>
  {%- endif -%}

  {%- liquid
    if block.settings.filter_color_scheme == 'none'
      assign text_color = 'var(--text-color)'
      assign bg_color = 'var(--background)'
      assign hover_color = 'var(--hover-color)'
    else
      assign text_color = 'var(--scheme-' | append: block.settings.filter_color_scheme | append: '-text)'
      assign bg_color = 'var(--scheme-' | append: block.settings.filter_color_scheme | append: '-bg)'
      assign hover_color = 'var(--scheme-' | append: block.settings.filter_color_scheme | append: '-hover)'
    endif
  -%}

  <style>
    .slide-nav__first-level--item .filter__text--label {
      cursor: pointer;
    }
    .filter-drawer__wrapper .filter--color label {
      cursor: pointer;
    }
    .regular-filter--label {
      pointer-events: none;
    }
    aside#slideout-collection-filters,
    aside#slideout-search-filters,
    .filter-drawer__wrapper,
    .filter-drawer__menu-block,
    .sidebar__filter-block .regular-filter--label{
      background: {{ bg_color }};
    }
    .filter-drawer__wrapper,
    .filter-drawer__wrapper label,
    .filter-drawer__wrapper small,
    .filter-drawer__wrapper p,
    .filter-drawer__wrapper p a,
    .filter-drawer__wrapper li a,
    .filter-drawer__wrapper .product-price {
      color: {{ text_color }} !important;
    }
    .filter-drawer__wrapper p a:hover,
    .filter-drawer__wrapper li a:hover {
      color: {{ hover_color }} !important;
    }
    .filter-drawer__wrapper svg:hover .hover-fill {
      fill: {{ hover_color }};
    }
    .filter-drawer__wrapper .slideout__trigger--close svg g {
      fill: {{ text_color }};
    }
    {% if block.settings.filter_appearance == 'vertical' %}
      .sidebar-filter:not(.filter--color) ul>li {
        display: flex;
        align-items: center;
      }
      .sidebar-filter:not(.filter--color) ul>li a label {
        border: 0;
        padding: 0;
        display: flex;
        align-items: center;
        margin-left: 18px;
      }
      .sidebar-filter:not(.filter--color) ul>li a {
        position: relative;
        display: flex;
        align-items: center;
        padding: 2px 4px;
      }
      .sidebar-filter:not(.filter--color) ul>li a:before {
        content: "";
        width: 10px;
        height: 10px;
        border: 1px solid var(--dotted-color);
        position: absolute;
      }
      .sidebar-filter:not(.filter--color) ul>li a:hover label,
      .sidebar-filter:not(.filter--color) ul>li a:hover label span,
      .sidebar__filter-block .current .regular-filter--label,
      .sidebar__filter-block .current .regular-filter--label span,
      .sidebar__filter-block .js-collection-side-filter:hover .regular-filter--label,
      .sidebar__filter-block .js-collection-side-filter:hover .regular-filter--label span {
        background: {{ bg_color }} !important;
        color: {{ text_color }} !important;
      }
      .sidebar-filter:not(.filter--color)  li a:hover svg g,
      .sidebar-filter:not(.filter--color)  li a:hover svg:hover g,
      .sidebar__filter-block .current svg .hover-fill,
      .sidebar__filter-block .js-collection-side-filter:hover svg .hover-fill {
        fill: {{ hover_color }} !important;
      }
      .sidebar-filter:not(.filter--color) ul>li a.current:after {
        content: "";
        border-left: 2px solid {{  text_color }};
        position: absolute;
        left: 5px;
        width: 7px;
        transform: rotate(-45deg);
        border-bottom: 2px solid {{ text_color }};
        height: 3px;
        top: 12px;
      }
    {% endif %}
  </style>
</div>
